label {
  color: $grey;
}

[for=email] {
  padding-right: 40px;
}

[for=profile] {
  padding-right: 73px;
}

.toggle-button-container {
  align-items: center;
  margin-bottom: 15px;
}

.settings {
  grid-area: settings;
  margin-bottom: 50px;
}

.save {
  background: $amethyst;
}

.cancel {
  background: $mediumgrey;
}

.save,
.cancel {
  width: 47%;
}

.button-container {
  @include flexy($direction: row, $justify: space-between);
}

.button {
  border: none;
  border-radius: 5px;
  height: 50px;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}
