.traffic {
  grid-area: traffic;
  border-bottom: solid 1px $lightgrey;
}

.traffic-menu {
  display: none;
  @media #{$tablet} {
    display: initial;
  }
}

.traffic-header,
.traffic-menu {
  @include flexy($direction: row, $justify: space-between);
  align-items: center;
}

.traffic-menu a {
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  color: $mediumgrey;
  font-weight: bold;
  transition: .3s ease;
  &:hover {
    background: $greenapple;
    color: $white;
  }
}
