// Colors
$amethyst            : #7477bf;
$eggplant            : #4d4c72;
$grape               : #5d61bf;
$lilac               : #a6a6b9;
$lavender            : #e2e3f6;
$orchid              : #7377bf;
$greenapple          : #81c98f;
$denim               : #74b1bf;
$white               : #ffffff;
$bone                : #fbfbfb;
$grey                : #666666;
$mediumgrey          : #b2b2b2;
$lightgrey           : #d8d8d8;

// Fonts
$font-size--medium   : 12pt;
$font-size--large    : 18pt;
$font-size--xl       : 24pt;
$font-size--xxl      : 42pt;

// Media Queries
$tablet              : "(min-width: 768px)";
$desktop             : "(min-width: 1024px)";
