.new-members {
  grid-area: members;
  border-right: solid 1px $lightgrey;
  border-bottom: solid 1px $lightgrey;
}

.member {
  @include flexy($direction: column);
  height: auto;
  align-items: center;
  padding: 15px;
  border-bottom: solid 1px $lightgrey;
  @media #{$tablet} {
    @include flexy($direction: row, $justify: space-between);
    height: 80px;
  }
  &:last-child {
    border: none;
  }
}

.tagline {
  display: none;
  @media #{$tablet} {
    display: initial;
  }
}

.member-info-container {
  @include flexy($direction: row);
}

.tagline {
  color: $orchid;
}

.tagline,
.name {
  margin: 0;
}

.date,
.tagline {
  font-size: 11pt;
}
